<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groundupcoding.servicenow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ServiceNow_Theme" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <activity android:name=".MyTicketsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name=".LoginActivity"
            android:label="ServiceNow" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddInstanceActivity"
            android:label="@string/title_AddInstanceActivity"
            android:parentActivityName=".ListInstancesActivity" />
        <activity
            android:name=".IncidentListActivity"
            android:label="ServiceNow" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".IncidentTicketActivity"
            android:label="@string/title_activity_incident_ticket"
            android:parentActivityName=".IncidentListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.groundupcoding.servicenow.IncidentListActivity" />
        </activity>
        <activity
            android:name=".ContactDetailsActivity"
            android:label="@string/title_activity_contact_details" >
        </activity>
        <activity
            android:name=".ListInstancesActivity"
            android:label="@string/title_activity_list_instances" >
        </activity>

        <activity android:name=".EditInstanceActivity"
            android:label="Edit Instance"></activity>

        <receiver
            android:name=".TicketServiceReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
